#         The World Bank EdStats Data Analysis

### __OBJECTIVE:__ To find the countries that have a strong potential of customers for our services

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

## Reading Data

In [2]:
data = pd.read_csv('EdStatsData.csv')
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

__Checking indicarotr__

In [4]:
data.groupby('Indicator Name').count()

,Country Name,Country Code,Indicator Code,1970,1971,1972,1973,1974,1975,1976,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
Indicator Name,,,,,,,,,,,,,,,,,,,,,
"Adjusted net enrolment rate, lower secondary, both sexes (%)",242,242,242,4,29,29,25,29,22,27,...,0,0,0,0,0,0,0,0,0,0
"Adjusted net enrolment rate, lower secondary, female (%)",242,242,242,2,24,25,22,24,20,22,...,0,0,0,0,0,0,0,0,0,0
"Adjusted net enrolment rate, lower secondary, gender parity index (GPI)",242,242,242,2,24,24,22,24,20,22,...,0,0,0,0,0,0,0,0,0,0
"Adjusted net enrolment rate, lower secondary, male (%)",242,242,242,2,24,24,22,24,20,22,...,0,0,0,0,0,0,0,0,0,0
"Adjusted net enrolment rate, primary, both sexes (%)",242,242,242,15,15,17,18,19,21,22,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Youth illiterate population, 15-24 years, male (number)",242,242,242,3,0,0,0,0,5,8,...,0,0,0,0,0,0,0,0,0,0
"Youth literacy rate, population 15-24 years, both sexes (%)",242,242,242,3,0,0,0,0,5,8,...,0,0,0,0,0,0,0,0,0,0
"Youth literacy rate, population 15-24 years, female (%)",242,242,242,3,0,0,0,0,5,8,...,0,0,0,0,0,0,0,0,0,0
"Youth literacy rate, population 15-24 years, gender parity index (GPI)",242,242,242,3,0,0,0,0,5,8,...,0,0,0,0,0,0,0,0,0,0
"Youth literacy rate, population 15-24 years, male (%)",242,242,242,3,0,0,0,0,5,8,...,0,0,0,0,0,0,0,0,0,0

## Reading country data

In [5]:
data_country= pd.read_csv('EdStatsCountry.csv')
data_country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [168]:
data_country.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')

__Create a DF with contry_code, name, region and income_group__

In [150]:

countries_income = pd.DataFrame(data_country, columns =['Country Code','Short Name','Region','Income Group'])

countries_income

,Country Code,Short Name,Region,Income Group
0,ABW,Aruba,Latin America & Caribbean,High income: nonOECD
1,AFG,Afghanistan,South Asia,Low income
2,AGO,Angola,Sub-Saharan Africa,Upper middle income
3,ALB,Albania,Europe & Central Asia,Upper middle income
4,AND,Andorra,Europe & Central Asia,High income: nonOECD
...,...,...,...,...
236,XKX,Kosovo,Europe & Central Asia,Lower middle income
237,YEM,Yemen,Middle East & North Africa,Lower middle income
238,ZAF,South Africa,Sub-Saharan Africa,Upper middle income
239,ZMB,Zambia,Sub-Saharan Africa,Lower middle income
240,ZWE,Zimbabwe,Sub-Saharan Africa,Low income

__Renaming Short Name to Name__

In [7]:

countries_income = pd.DataFrame({"Country_Code" : data_country["Country Code"].unique(), 
                                 "Name" : data_country["Short Name"], 
                                 "Region" : data_country["Region"], 
                                 "Income_group" : data_country["Income Group"]})

countries_income

,Country_Code,Name,Region,Income_group
0,ABW,Aruba,Latin America & Caribbean,High income: nonOECD
1,AFG,Afghanistan,South Asia,Low income
2,AGO,Angola,Sub-Saharan Africa,Upper middle income
3,ALB,Albania,Europe & Central Asia,Upper middle income
4,AND,Andorra,Europe & Central Asia,High income: nonOECD
...,...,...,...,...
236,XKX,Kosovo,Europe & Central Asia,Lower middle income
237,YEM,Yemen,Middle East & North Africa,Lower middle income
238,ZAF,South Africa,Sub-Saharan Africa,Upper middle income
239,ZMB,Zambia,Sub-Saharan Africa,Lower middle income
240,ZWE,Zimbabwe,Sub-Saharan Africa,Low income

__Adding 2 data frames (data plus countries_income)__

In [11]:
data_p_country = pd.merge(data,countries_income, left_on='Country Code', right_on='Country_Code')
data_p_country.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2080,2085,2090,2095,2100,Unnamed: 69,Country_Code,Name,Region,Income_group
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ARB,Arab World,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ARB,Arab World,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ARB,Arab World,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ARB,Arab World,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,ARB,Arab World,NaN,NaN

__Select interesting features__

Reduce the columns from data_p_country

In [13]:
data_p_country.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69', 'Country_Code', 'Name', 'Region',
       'Income_group'],
      dtype='object')

__Keeping the years from 2000 to 2020__

In [19]:
data_c_reduced = data_p_country.filter(items=['Region', 'Country Name', 'Country Code', 'Income_group', 
                                                      'Indicator Name', 'Indicator Code','2000', '2001', '2002', '2003', '2004', '2005','2006',
                                              '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
                                              '2015', '2016', '2017', '2020'])
data_c_reduced.head()

,Region,Country Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
0,NaN,Arab World,ARB,NaN,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Arab World,ARB,NaN,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Arab World,ARB,NaN,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Arab World,ARB,NaN,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Arab World,ARB,NaN,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,77.245682,78.800522,80.051399,80.805389,...,84.195961,85.211998,85.24514,86.101669,85.51194,85.320152,NaN,NaN,NaN,NaN

__Remove data with no value in Income_group__

In [20]:
data_c_reduced = data_c_reduced[data_c_reduced.Income_group.notnull()]
data_c_reduced.head()

,Region,Country Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
91625,South Asia,Afghanistan,AFG,Low income,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,47.436790,50.627232,NaN,NaN,NaN,NaN
91626,South Asia,Afghanistan,AFG,Low income,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,34.073261,37.641541,NaN,NaN,NaN,NaN
91627,South Asia,Afghanistan,AFG,Low income,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.567060,0.598370,NaN,NaN,NaN,NaN
91628,South Asia,Afghanistan,AFG,Low income,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,60.087059,62.906952,NaN,NaN,NaN,NaN
91629,South Asia,Afghanistan,AFG,Low income,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Select Countries with __Upper middle income__ and __High income__

In [21]:
data_c_reduced.Income_group.unique()

array(['Low income', 'Upper middle income', 'High income: nonOECD',
       'Lower middle income', 'High income: OECD'], dtype=object)

In [22]:
incomes_to_keep = ['Upper middle income', 'High income: nonOECD', 'High income: OECD']
data_r_income = data_c_reduced[data_c_reduced.Income_group.isin(incomes_to_keep)]
data_r_income.head()

,Region,Country Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
95290,Europe & Central Asia,Albania,ALB,Upper middle income,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,84.558281,85.306610,NaN,NaN,...,NaN,NaN,NaN,NaN,87.666588,88.778252,NaN,NaN,NaN,NaN
95291,Europe & Central Asia,Albania,ALB,Upper middle income,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,83.848213,84.769829,NaN,NaN,...,NaN,NaN,NaN,NaN,87.354607,88.133423,NaN,NaN,NaN,NaN
95292,Europe & Central Asia,Albania,ALB,Upper middle income,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,0.983600,0.987710,NaN,NaN,...,NaN,NaN,NaN,NaN,0.993110,0.986010,NaN,NaN,NaN,NaN
95293,Europe & Central Asia,Albania,ALB,Upper middle income,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,85.246353,85.824432,NaN,NaN,...,NaN,NaN,NaN,NaN,87.960289,89.383621,NaN,NaN,NaN,NaN
95294,Europe & Central Asia,Albania,ALB,Upper middle income,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,95.889877,94.327347,NaN,91.710312,...,89.393333,91.033867,93.225662,96.137093,95.912598,95.920891,NaN,NaN,NaN,NaN

In [38]:
data_r_income.groupby('Indicator Name').count()

,Region,Country Name,Country Code,Income_group,Indicator Code,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
Indicator Name,,,,,,,,,,,,,,,,,,,,,
"Adjusted net enrolment rate, lower secondary, both sexes (%)",130,130,130,130,130,61,61,64,62,65,...,69,68,69,64,63,52,1,0,0,0
"Adjusted net enrolment rate, lower secondary, female (%)",130,130,130,130,130,60,57,61,59,62,...,68,66,68,63,62,51,1,0,0,0
"Adjusted net enrolment rate, lower secondary, gender parity index (GPI)",130,130,130,130,130,60,57,61,59,62,...,68,66,68,63,62,51,1,0,0,0
"Adjusted net enrolment rate, lower secondary, male (%)",130,130,130,130,130,60,57,61,59,62,...,68,66,68,63,62,51,1,0,0,0
"Adjusted net enrolment rate, primary, both sexes (%)",130,130,130,130,130,75,71,75,74,76,...,82,78,81,83,79,78,67,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Youth illiterate population, 15-24 years, male (number)",130,130,130,130,130,17,15,9,4,10,...,16,27,38,20,18,18,18,10,0,0
"Youth literacy rate, population 15-24 years, both sexes (%)",130,130,130,130,130,17,15,9,4,10,...,16,27,38,20,18,18,19,10,0,0
"Youth literacy rate, population 15-24 years, female (%)",130,130,130,130,130,17,15,9,4,10,...,16,27,38,20,18,18,19,10,0,0
"Youth literacy rate, population 15-24 years, gender parity index (GPI)",130,130,130,130,130,17,15,9,4,10,...,16,27,38,20,18,18,19,10,0,0
"Youth literacy rate, population 15-24 years, male (%)",130,130,130,130,130,17,15,9,4,10,...,16,27,38,20,18,18,19,10,0,0

In [39]:
data_r_income.groupby('Indicator Name').mean()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
Indicator Name,,,,,,,,,,,,,,,,,,,
"Adjusted net enrolment rate, lower secondary, both sexes (%)",79.469040,81.084582,82.579354,83.976044,84.145275,84.125685,87.486043,84.382757,85.993035,84.916772,86.059119,86.813170,87.354134,86.770044,88.125570,98.363930,NaN,NaN,NaN
"Adjusted net enrolment rate, lower secondary, female (%)",81.093968,83.542944,84.049390,85.052413,84.911314,85.032356,88.772535,85.597709,87.235219,85.995566,86.886149,88.144359,88.671302,88.131755,89.343548,99.283279,NaN,NaN,NaN
"Adjusted net enrolment rate, lower secondary, gender parity index (GPI)",1.064727,1.062137,1.063912,1.053686,1.041497,1.043964,1.042327,1.047055,1.040426,1.038040,1.024741,1.037576,1.036856,1.041098,1.034650,1.018390,NaN,NaN,NaN
"Adjusted net enrolment rate, lower secondary, male (%)",77.477158,79.718126,80.228938,81.682522,82.197365,82.202775,85.814109,82.688864,84.656679,83.742173,85.332754,85.445850,86.036557,85.366136,86.947716,97.489990,NaN,NaN,NaN
"Adjusted net enrolment rate, primary, both sexes (%)",95.298019,95.628040,96.057070,95.664301,96.107382,95.870368,95.948619,96.014630,95.293874,95.450364,95.543557,95.589464,95.409246,96.199571,95.863446,95.432788,93.266855,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Youth illiterate population, 15-24 years, male (number)",174570.117647,31308.333333,65966.888889,6568.000000,143318.800000,70176.833333,126613.583333,69643.000000,83406.142857,63548.562500,65026.222222,27035.078947,42388.150000,127900.055556,64170.166667,29428.000000,10154.800000,NaN,NaN
"Youth literacy rate, population 15-24 years, both sexes (%)",96.879939,96.549977,97.355500,97.445408,96.530746,97.947182,97.609818,97.509604,97.895860,98.718760,98.490399,98.853279,98.275829,96.408377,97.636883,99.132731,99.441145,NaN,NaN
"Youth literacy rate, population 15-24 years, female (%)",96.598758,96.140331,97.041194,97.632845,96.100393,97.901471,97.235428,97.664958,97.875421,98.789532,98.602758,98.988237,98.337187,96.281496,97.360250,99.217827,99.493600,NaN,NaN
"Youth literacy rate, population 15-24 years, gender parity index (GPI)",0.994046,0.987705,0.993452,1.005173,0.990713,0.998657,0.992217,1.004067,0.998716,1.001367,1.001980,1.002642,1.001334,0.993329,0.992427,1.001717,1.000971,NaN,NaN
"Youth literacy rate, population 15-24 years, male (%)",97.145738,97.126007,97.659698,97.183785,97.011137,98.048538,97.983843,97.338924,97.998262,98.657641,98.413522,98.733681,98.220169,96.602618,97.979121,99.050149,99.398006,NaN,NaN

### Selecte Indicators from Indicator Name feature

__INTERNET__

- Internet users (per 100 people)(IT.NET.USER.P2)
- 	Personal computers (per 100 people)(IT.CMP.PCMP.P2)

In [25]:
data_r_internet = data_r_income.loc[(data_r_income['Indicator Code'] == "IT.NET.USER.P2") |
                                                (data_r_income['Indicator Code'] == "IT.CMP.PCMP.P2")] 
data_r_internet.head()

,Region,Country Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
96665,Europe & Central Asia,Albania,ALB,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,0.114097,0.325798,0.390081,0.971900,...,41.20,45.0,49.0,54.655959,57.2,60.1,63.252933,66.363445,NaN,NaN
97374,Europe & Central Asia,Albania,ALB,Upper middle income,Personal computers (per 100 people),IT.CMP.PCMP.P2,0.756442,0.912941,1.103078,1.296542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100330,Middle East & North Africa,Algeria,DZA,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,0.491706,0.646114,1.591641,2.195360,...,11.23,12.5,14.9,18.200000,22.5,29.5,38.200000,42.945527,NaN,NaN
101039,Middle East & North Africa,Algeria,DZA,Upper middle income,Personal computers (per 100 people),IT.CMP.PCMP.P2,0.630528,0.684288,0.742947,0.802947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103995,East Asia & Pacific,American Samoa,ASM,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

__Countries with Internet access__

In [26]:
codes_to_keep = ['IT.NET.USER.P2', 'IT.CMP.PCMP.P2']
data_r_IT = data_r_income[data_r_income['Indicator Code'].isin(codes_to_keep)]
data_r_IT.head()

,Region,Country Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
96665,Europe & Central Asia,Albania,ALB,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,0.114097,0.325798,0.390081,0.971900,...,41.20,45.0,49.0,54.655959,57.2,60.1,63.252933,66.363445,NaN,NaN
97374,Europe & Central Asia,Albania,ALB,Upper middle income,Personal computers (per 100 people),IT.CMP.PCMP.P2,0.756442,0.912941,1.103078,1.296542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100330,Middle East & North Africa,Algeria,DZA,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,0.491706,0.646114,1.591641,2.195360,...,11.23,12.5,14.9,18.200000,22.5,29.5,38.200000,42.945527,NaN,NaN
101039,Middle East & North Africa,Algeria,DZA,Upper middle income,Personal computers (per 100 people),IT.CMP.PCMP.P2,0.630528,0.684288,0.742947,0.802947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103995,East Asia & Pacific,American Samoa,ASM,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
data_r_IT.groupby('Indicator Code').count()

,Region,Country Name,Country Code,Income_group,Indicator Name,1997,1998,1999,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
Indicator Code,,,,,,,,,,,,,,,,,,,,,
IT.CMP.PCMP.P2,130,130,130,130,130,83,91,94,95,107,...,1,0,0,0,0,0,0,0,0,0
IT.NET.USER.P2,130,130,130,130,130,109,110,114,117,115,...,120,120,121,119,120,120,120,119,0,0

### Population

__Interesting indicator__

- Population, total(SP.POP.TOTL)
- Population, ages 15-24, total(SP.POP.1524.TO.UN)   
- Population, ages 15-64, total(SP.POP.1564.TO)
- 	Population growth (annual %)(SP.POP.GROW)
- School age population, upper secondary education, both sexes (number)(SP.SEC.UTOT.IN)
- School age population, secondary education, both sexes (number)(SP.SEC.TOTL.IN)
- School age population, tertiary education, both sexes (number)(SP.TER.TOTL.IN)

In [215]:
codes_to_keep = ['SP.POP.TOTL', 
                 'SP.POP.1524.TO.UN', 
                 'SP.POP.1564.TO', 
                 'SP.SEC.TOTL.IN', 
                 'SP.SEC.UTOT.IN',
                 'SP.TER.TOTL.IN']
data_r_pop = data_r_income[data_r_income['Indicator Code'].isin(codes_to_keep)]
data_r_pop.head()

,Region,Country Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
97613,Europe & Central Asia,Albania,ALB,Upper middle income,Population of the official age for secondary e...,SP.SEC.TOTL.IN,511756.0,518394.0,523548.0,527993.0,...,415162.0,402516.0,390935.0,376605.0,361431.0,345644.0,329011.0,311514.0,NaN,NaN
97616,Europe & Central Asia,Albania,ALB,Upper middle income,Population of the official age for tertiary ed...,SP.TER.TOTL.IN,257150.0,255769.0,256577.0,259438.0,...,278853.0,274639.0,271544.0,274631.0,276635.0,277193.0,276247.0,NaN,NaN,NaN
97622,Europe & Central Asia,Albania,ALB,Upper middle income,Population of the official age for upper secon...,SP.SEC.UTOT.IN,240167.0,244720.0,250319.0,256767.0,...,182284.0,178188.0,174347.0,170216.0,166043.0,161760.0,156541.0,149745.0,NaN,NaN
97772,Europe & Central Asia,Albania,ALB,Upper middle income,"Population, ages 15-24, total",SP.POP.1524.TO.UN,538251.0,545188.0,554507.0,565217.0,...,609841.0,608456.0,603104.0,594101.0,582411.0,569427.0,556269.0,NaN,NaN,NaN
97776,Europe & Central Asia,Albania,ALB,Upper middle income,"Population, ages 15-64, total",SP.POP.1564.TO,1935652.0,1929881.0,1937815.0,1945449.0,...,1950306.0,1947666.0,1961611.0,1975480.0,1987352.0,1996460.0,2000257.0,1997271.0,NaN,NaN

In [216]:
data_r_pop.groupby('Indicator Code').count()

,Region,Country Name,Country Code,Income_group,Indicator Name,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
Indicator Code,,,,,,,,,,,,,,,,,,,,,
SP.POP.1524.TO.UN,130,130,130,130,130,108,109,110,110,109,...,100,100,100,100,100,100,100,0,0,0
SP.POP.1564.TO,130,130,130,130,130,111,111,111,111,111,...,111,111,111,111,111,110,110,110,0,0
SP.POP.TOTL,130,130,130,130,130,130,130,130,130,130,...,130,130,130,130,130,127,127,127,0,0
SP.SEC.TOTL.IN,130,130,130,130,130,107,109,109,110,110,...,111,110,111,111,111,112,111,91,0,0
SP.SEC.UTOT.IN,130,130,130,130,130,107,109,109,110,110,...,111,110,111,111,111,112,111,91,0,0
SP.TER.TOTL.IN,130,130,130,130,130,109,110,110,110,110,...,110,107,101,98,95,110,84,2,0,0

### Education

__Interesting indicator__

- Barro-Lee: Percentage of population age 15+ with secondary schooling. Completed Secondary(BAR.SEC.CMPT.15UP.ZS)
- Barro-Lee: Percentage of population age 15+ with tertiary schooling. Completed Tertiary(BAR.TER.CMPT.15UP.ZS)
- UIS: Percentage of population age 25+ whose highest level of education is upper secondary, both sexes(UIS.EA.3.AG25T99)

- 	Enrolment in secondary education, both sexes (number)(SE.SEC.ENRL)
- 	Enrolment in tertiary education, all programmes, both sexes (number)(SE.TER.ENRL)

In [236]:
codes_to_keep = ['BAR.SEC.CMPT.15UP.ZS', 
                 'BAR.TER.CMPT.15UP.ZS',
                 'UIS.EA.3.AG25T99',
                 'SE.SEC.ENRL',
                 'SE.TER.ENRL',
                 'SE.XPD.TOTL.GB.ZS'
                 ]
data_r_edu = data_r_income[data_r_income['Indicator Code'].isin(codes_to_keep)]
data_r_edu.head()

,Region,Country Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
95667,Europe & Central Asia,Albania,ALB,Upper middle income,Barro-Lee: Percentage of population age 15+ wi...,BAR.SEC.CMPT.15UP.ZS,26.63000,NaN,NaN,NaN,...,NaN,42.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95669,Europe & Central Asia,Albania,ALB,Upper middle income,Barro-Lee: Percentage of population age 15+ wi...,BAR.TER.CMPT.15UP.ZS,3.51000,NaN,NaN,NaN,...,NaN,0.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96481,Europe & Central Asia,Albania,ALB,Upper middle income,"Enrolment in secondary education, both sexes (...",SE.SEC.ENRL,365664.00000,377936.00000,382205.00000,396095.0000,...,354587.0,355871.00,355158.0,349269.0,346365.00000,333291.0,315079.0,NaN,NaN,NaN
96494,Europe & Central Asia,Albania,ALB,Upper middle income,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,40125.00000,40859.00000,42160.00000,43600.0000,...,93139.0,122326.00,134877.0,160839.0,173029.00000,173819.0,160527.0,NaN,NaN,NaN
96514,Europe & Central Asia,Albania,ALB,Upper middle income,Expenditure on education as % of total governm...,SE.XPD.TOTL.GB.ZS,10.13703,10.58193,9.88692,10.5736,...,NaN,NaN,NaN,NaN,12.12391,NaN,NaN,NaN,NaN,NaN

In [44]:
data_r_edu.groupby('Indicator Code').count()

,Region,Country Name,Country Code,Income_group,Indicator Name,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
Indicator Code,,,,,,,,,,,,,,,,,,,,,
BAR.SEC.CMPT.15UP.ZS,130,130,130,130,130,86,0,0,0,0,...,0,86,0,0,0,0,0,0,0,0
BAR.TER.CMPT.15UP.ZS,130,130,130,130,130,86,0,0,0,0,...,0,86,0,0,0,0,0,0,0,0
SE.SEC.ENRL,130,130,130,130,130,93,89,94,91,96,...,96,96,96,92,90,94,76,3,0,0
SE.TER.ENRL,130,130,130,130,130,76,77,83,86,81,...,80,83,82,87,85,81,74,2,0,0
SE.XPD.TOTL.GB.ZS,130,130,130,130,130,67,70,78,71,73,...,71,71,68,63,67,52,19,0,0,0
UIS.EA.3.AG25T99,130,130,130,130,130,14,15,7,11,26,...,46,61,56,47,42,45,0,0,0,0

### Expenditures

__Interesting indicator__


- 	Government expenditure on education as % of GDP (%)(SE.XPD.TOTL.GD.ZS)
- Government expenditure on education not specified by level, constant US dollar (millions)(UIS.X.USCONST.UK.FSGOV)
- Capital expenditure as % of total expenditure in public institutions (%)(UIS.XSPENDP.FDPUB.FNCAP)
- Expenditure on education as % of total government expenditure (%)(SE.XPD.TOTL.GB.ZS)
- GDP per capita, PPP (current international dollar)(NY.GDP.PCAP.PP.CD)

In [235]:
codes_to_keep = ['SE.XPD.TOTL.GD.ZS', 
                 'UIS.X.USCONST.UK.FSGOV',
                 'UIS.XSPENDP.FDPUB.FNCAP',
                 'SE.XPD.TOTL.GB.ZS',
                'NY.GDP.PCAP.PP.CD']
data_r_exp = data_r_income[data_r_income['Indicator Code'].isin(codes_to_keep)]
data_r_exp.head()

,Region,Country Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
95803,Europe & Central Asia,Albania,ALB,Upper middle income,Capital expenditure as % of total expenditure ...,UIS.XSPENDP.FDPUB.FNCAP,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.586840,NaN,NaN,NaN,NaN,NaN
96514,Europe & Central Asia,Albania,ALB,Upper middle income,Expenditure on education as % of total governm...,SE.XPD.TOTL.GB.ZS,10.137030,10.581930,9.886920,10.573600,...,NaN,NaN,NaN,NaN,12.123910,NaN,NaN,NaN,NaN,NaN
96537,Europe & Central Asia,Albania,ALB,Upper middle income,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,4026.537422,4463.632986,4754.675856,5114.784779,...,8823.802984,9646.615727,10207.700674,10526.248328,10580.511504,11332.506541,11449.094589,11865.5014,NaN,NaN
96550,Europe & Central Asia,Albania,ALB,Upper middle income,Government expenditure on education as % of GD...,SE.XPD.TOTL.GD.ZS,3.287190,3.342710,3.055220,3.064700,...,NaN,NaN,NaN,NaN,3.539440,NaN,NaN,NaN,NaN,NaN
99468,Middle East & North Africa,Algeria,DZA,Upper middle income,Capital expenditure as % of total expenditure ...,UIS.XSPENDP.FDPUB.FNCAP,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
data_r_exp.groupby('Indicator Code').count()

,Region,Country Name,Country Code,Income_group,Indicator Name,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020
Indicator Code,,,,,,,,,,,,,,,,,,,,,
NY.GDP.PCAP.PP.CD,130,130,130,130,130,109,110,110,110,110,...,110,110,112,109,109,107,106,104,0,0
SE.XPD.TOTL.GB.ZS,130,130,130,130,130,67,70,78,71,73,...,71,71,68,63,67,52,19,0,0,0
SE.XPD.TOTL.GD.ZS,130,130,130,130,130,72,73,81,74,77,...,74,73,70,64,69,53,22,1,0,0
UIS.XSPENDP.FDPUB.FNCAP,130,130,130,130,130,42,45,58,44,51,...,53,55,54,38,30,11,1,0,0,0

## Filling missing values

In [48]:
# Internet
data_r_IT.isnull().sum().sort_values(ascending=False).head(25)

2020              260
2017              260
2016              141
2012              141
2015              140
2014              140
2013              140
2010              140
2011              139
2009              139
2008              121
2007              108
2006               75
2000               48
2005               45
2003               42
2004               40
2001               38
2002               36
Indicator Code      0
Indicator Name      0
Income_group        0
Country Code        0
Country Name        0
Region              0
dtype: int64

Removing the years with plus 50% of missing value

In [49]:
data_r_IT = data_r_internet.drop(['2020','2017','2016','2012','2010','2015','2014','2013','2009','2011'], axis=1)
data_r_IT.head()

,Region,Country Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,2006,2007,2008
96665,Europe & Central Asia,Albania,ALB,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,0.114097,0.325798,0.390081,0.971900,2.420388,6.043891,9.609991,15.036115,23.860000
97374,Europe & Central Asia,Albania,ALB,Upper middle income,Personal computers (per 100 people),IT.CMP.PCMP.P2,0.756442,0.912941,1.103078,1.296542,1.492446,1.689543,3.774092,4.105840,4.593538
100330,Middle East & North Africa,Algeria,DZA,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,0.491706,0.646114,1.591641,2.195360,4.634475,5.843942,7.375985,9.451191,10.180000
101039,Middle East & North Africa,Algeria,DZA,Upper middle income,Personal computers (per 100 people),IT.CMP.PCMP.P2,0.630528,0.684288,0.742947,0.802947,0.866672,1.030597,NaN,NaN,NaN
103995,East Asia & Pacific,American Samoa,ASM,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
data_r_IT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 96665 to 867024
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          260 non-null    object
 1   Country Name    260 non-null    object
 2   Country Code    260 non-null    object
 3   Income_group    260 non-null    object
 4   Indicator Name  260 non-null    object
 5   Indicator Code  260 non-null    object
 6   2000            212 non-null    float64
 7   2001            222 non-null    float64
 8   2002            224 non-null    float64
 9   2003            218 non-null    float64
 10  2004            220 non-null    float64
 11  2005            215 non-null    float64
 12  2006            185 non-null    float64
 13  2007            152 non-null    float64
 14  2008            139 non-null    float64
dtypes: float64(9), object(6)
memory usage: 32.5+ KB

To comparing mean & median

In [51]:
data_r_IT.describe()

,2000,2001,2002,2003,2004,2005,2006,2007,2008
count,212.000000,222.000000,224.000000,218.000000,220.000000,215.000000,185.000000,152.000000,139.000000
mean,15.461754,17.306890,20.140309,23.116581,25.981847,28.933336,34.439167,37.604420,40.984493
std,15.980944,17.467282,19.310914,20.801075,22.543472,24.101717,25.194426,24.524322,25.148578
min,0.105046,0.100000,0.181371,0.370682,0.464815,0.564518,0.646019,0.930000,1.000000
25%,3.700780,4.332810,5.362881,7.090667,8.401598,9.127204,13.794769,17.848193,21.760000
50%,8.116921,10.308291,13.177232,15.616521,18.474002,21.500000,28.000000,33.030000,37.300000
75%,22.943215,26.229538,28.109121,34.154170,37.387500,46.405000,54.010000,57.468125,62.895000
max,75.827802,74.562202,79.120000,83.140000,83.890000,87.728023,94.446705,91.609568,96.170657

In [52]:
data_r_IT['2000']= data_r_IT['2000'].fillna(data_r_IT['2000'].median())
data_r_IT['2001']= data_r_IT['2001'].fillna(data_r_IT['2001'].median())
data_r_IT['2002']= data_r_IT['2002'].fillna(data_r_IT['2002'].median())
data_r_IT['2003']= data_r_IT['2003'].fillna(data_r_IT['2003'].median())
data_r_IT['2004']= data_r_IT['2004'].fillna(data_r_IT['2004'].median())
data_r_IT['2005']= data_r_IT['2005'].fillna(data_r_IT['2005'].median())
data_r_IT['2006']= data_r_IT['2006'].fillna(data_r_IT['2006'].median())
data_r_IT['2007']= data_r_IT['2007'].fillna(data_r_IT['2007'].median())
data_r_IT['2008']= data_r_IT['2008'].fillna(data_r_IT['2008'].median())

In [54]:
data_r_IT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 96665 to 867024
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          260 non-null    object
 1   Country Name    260 non-null    object
 2   Country Code    260 non-null    object
 3   Income_group    260 non-null    object
 4   Indicator Name  260 non-null    object
 5   Indicator Code  260 non-null    object
 6   2000            260 non-null    float64
 7   2001            260 non-null    float64
 8   2002            260 non-null    float64
 9   2003            260 non-null    float64
 10  2004            260 non-null    float64
 11  2005            260 non-null    float64
 12  2006            260 non-null    float64
 13  2007            260 non-null    float64
 14  2008            260 non-null    float64
dtypes: float64(9), object(6)
memory usage: 32.5+ KB

### To summarize Internet Data

In [171]:
pivot_Internet = pd.pivot_table(data_r_IT, values=['2000','2005','2008'], index=['Country Name','Region'],
                    aggfunc={'2000': np.mean, '2005': np.mean, '2008': np.mean
                            })
pivot_Internet

,,2000,2005,2008
Country Name,Region,,,
Albania,Europe & Central Asia,0.435269,3.866717,14.226769
Algeria,Middle East & North Africa,0.561117,3.437269,23.740000
American Samoa,East Asia & Pacific,8.116921,21.500000,37.300000
Andorra,Europe & Central Asia,9.327878,29.552883,53.670000
Angola,Sub-Saharan Africa,0.106383,0.853942,19.600000
...,...,...,...,...
United Kingdom,Europe & Central Asia,30.535140,72.865259,57.845000
United States,North America,49.825451,72.620249,55.650000
Uruguay,Latin America & Caribbean,10.539278,16.810697,38.300000
"Venezuela, RB",Latin America & Caribbean,3.933200,10.906839,31.590000
Virgin Islands (U.S.),Latin America & Caribbean,10.966001,15.064039,32.330889

In [175]:
pivot_Internet.sort_values(by=['2000','2005','2008'], inplace=True,ascending=False)
pivot_Internet.head(5)

                                          2000       2005       2008
Country Name  Region
San Marino    Europe & Central Asia  62.313649  66.086961  45.910000
Switzerland   Europe & Central Asia  56.345666  78.445466  87.685328
Norway        Europe & Central Asia  50.490312  70.674603  63.935000
United States North America          49.825451  72.620249  55.650000
Sweden        Europe & Central Asia  48.203700  84.208266  63.650000

In [174]:
pivot_Internet.sort_values(by=['2005','2008','2000'], inplace=True,ascending=False)
pivot_Internet.head(5)

                                         2000       2005       2008
Country Name Region
Sweden       Europe & Central Asia  48.203700  84.208266  63.650000
Netherlands  Europe & Central Asia  41.853634  83.264057  62.360000
Canada       North America          46.661534  79.694012  57.000000
Switzerland  Europe & Central Asia  56.345666  78.445466  87.685328
Denmark      Europe & Central Asia  44.875246  76.181872  61.160000

In [183]:
pivot_Internet.sort_values(by=['2008','2005','2000'], inplace=True,ascending=False)
pivot_Internet.head(10)

                                                 2000       2005       2008
Country Name         Region
Switzerland          Europe & Central Asia  56.345666  78.445466  87.685328
Hong Kong SAR, China East Asia & Pacific    33.496047  58.699413  68.047015
Iceland              Europe & Central Asia  41.793326  67.426267  64.150000
Norway               Europe & Central Asia  50.490312  70.674603  63.935000
Sweden               Europe & Central Asia  48.203700  84.208266  63.650000
Netherlands          Europe & Central Asia  41.853634  83.264057  62.360000
Slovak Republic      Europe & Central Asia  11.580501  45.484307  62.016213
Denmark              Europe & Central Asia  44.875246  76.181872  61.160000
Finland              Europe & Central Asia  38.425324  62.257307  60.485000
Bermuda              North America          45.346216  43.473533  59.800000

The countries with hight Internet access:
    
Switzerland,   Sweden,   Norway, United States, Netherlands, Hong Kong SAR,  China, Iceland, Denmark, Slovak Republic

In [208]:
data_r_IT= data_r_IT.rename({"Country Name": "Country_Name"},axis=1)
data_r_IT.head()

,Region,Country_Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,2006,2007,2008
96665,Europe & Central Asia,Albania,ALB,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,0.114097,0.325798,0.390081,0.971900,2.420388,6.043891,9.609991,15.036115,23.860000
97374,Europe & Central Asia,Albania,ALB,Upper middle income,Personal computers (per 100 people),IT.CMP.PCMP.P2,0.756442,0.912941,1.103078,1.296542,1.492446,1.689543,3.774092,4.105840,4.593538
100330,Middle East & North Africa,Algeria,DZA,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,0.491706,0.646114,1.591641,2.195360,4.634475,5.843942,7.375985,9.451191,10.180000
101039,Middle East & North Africa,Algeria,DZA,Upper middle income,Personal computers (per 100 people),IT.CMP.PCMP.P2,0.630528,0.684288,0.742947,0.802947,0.866672,1.030597,28.000000,33.030000,37.300000
103995,East Asia & Pacific,American Samoa,ASM,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,8.116921,10.308291,13.177232,15.616521,18.474002,21.500000,28.000000,33.030000,37.300000

__Create New DF with collected countries__

In [210]:
contries_to_keep = ['Switzerland', 'Sweden', 'Norway', 'United States', 'Netherlands',
                    'Hong Kong SAR',  'China', 'Iceland', 'Denmark', 'Slovak Republic']

New_data_Internet = data_r_IT[data_r_IT.Country_Name.isin(contries_to_keep)]

New_data_Internet.head()

,Region,Country_Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,2006,2007,2008
239600,East Asia & Pacific,China,CHN,Upper middle income,Internet users (per 100 people),IT.NET.USER.P2,1.775913,2.639650,4.595704,6.200000,7.300000,8.523257,10.523153,16.000000,22.60
240309,East Asia & Pacific,China,CHN,Upper middle income,Personal computers (per 100 people),IT.CMP.PCMP.P2,1.608836,1.941159,2.740631,3.869328,4.043759,4.818777,5.588372,33.030000,37.30
283580,Europe & Central Asia,Denmark,DNK,High income: OECD,Internet users (per 100 people),IT.NET.USER.P2,39.172431,42.957525,64.250000,76.260000,80.930000,82.740000,86.650000,85.030000,85.02
284289,Europe & Central Asia,Denmark,DNK,High income: OECD,Personal computers (per 100 people),IT.CMP.PCMP.P2,50.578060,54.158191,57.738936,61.565865,65.628636,69.623744,72.818527,54.869173,37.30
408190,Europe & Central Asia,Iceland,ISL,High income: OECD,Internet users (per 100 people),IT.NET.USER.P2,44.470534,49.392995,79.120000,83.140000,83.880000,87.000000,89.510000,90.600000,91.00

In [211]:
New_data_Internet.shape

(18, 15)

### Population missing values

In [217]:

##  features with the missing values
features_with_na=[features for features in data_r_pop.columns if data_r_pop[features].isnull().sum()>1]

## print the feature name and the percentage of missing values
for feature in features_with_na:
    print(feature, np.round(data_r_pop[feature].isnull().mean(),2),  ' % missing values')

2000 0.14  % missing values
2001 0.13  % missing values
2002 0.13  % missing values
2003 0.13  % missing values
2004 0.13  % missing values
2005 0.13  % missing values
2006 0.14  % missing values
2007 0.14  % missing values
2008 0.14  % missing values
2009 0.14  % missing values
2010 0.14  % missing values
2011 0.15  % missing values
2012 0.15  % missing values
2013 0.16  % missing values
2014 0.14  % missing values
2015 0.18  % missing values
2016 0.46  % missing values
2017 1.0  % missing values
2020 1.0  % missing values

Removing the years with plus 50% of missing value

In [218]:
data_r_pop = data_r_pop.drop(['2020','2017'], axis = 1)

In [219]:
data_r_pop.describe()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,6.720000e+02,6.780000e+02,6.790000e+02,6.810000e+02,6.800000e+02,6.770000e+02,6.730000e+02,6.700000e+02,6.700000e+02,6.730000e+02,6.680000e+02,6.640000e+02,6.610000e+02,6.580000e+02,6.710000e+02,6.430000e+02,4.210000e+02
mean,1.021676e+07,1.031309e+07,1.041513e+07,1.050322e+07,1.063506e+07,1.078492e+07,1.085657e+07,1.105626e+07,1.112063e+07,1.112697e+07,1.117176e+07,1.133564e+07,1.140550e+07,1.148213e+07,1.128782e+07,1.176240e+07,1.600722e+07
std,6.279719e+07,6.317163e+07,6.381333e+07,6.442014e+07,6.513368e+07,6.588706e+07,6.660248e+07,6.721428e+07,6.763543e+07,6.785602e+07,6.842510e+07,6.890099e+07,6.930621e+07,6.969029e+07,6.924896e+07,7.092335e+07,8.697781e+07
min,4.560000e+02,4.800000e+02,4.890000e+02,5.180000e+02,5.620000e+02,6.060000e+02,6.360000e+02,6.920000e+02,6.880000e+02,6.890000e+02,6.900000e+02,6.410000e+02,6.440000e+02,6.410000e+02,6.340000e+02,6.310000e+02,4.200000e+02
25%,1.367780e+05,1.301405e+05,1.312950e+05,1.260130e+05,1.240912e+05,1.276260e+05,1.258330e+05,1.441478e+05,1.453948e+05,1.332700e+05,1.322665e+05,1.478190e+05,1.520560e+05,1.543685e+05,1.328375e+05,1.557700e+05,1.497450e+05
50%,7.388195e+05,7.393605e+05,7.374090e+05,7.291870e+05,7.272660e+05,7.395860e+05,7.250730e+05,7.768460e+05,7.714095e+05,7.653640e+05,7.486900e+05,7.727935e+05,7.806990e+05,7.817210e+05,7.360360e+05,8.011240e+05,1.170125e+06
75%,3.943040e+06,4.004163e+06,4.068020e+06,4.114826e+06,4.120101e+06,4.247841e+06,4.273591e+06,4.466752e+06,4.482064e+06,4.535375e+06,4.504468e+06,4.591394e+06,4.713032e+06,4.700084e+06,4.543272e+06,4.743677e+06,6.558135e+06
max,1.262645e+09,1.271850e+09,1.280400e+09,1.288400e+09,1.296075e+09,1.303720e+09,1.311020e+09,1.317885e+09,1.324655e+09,1.331260e+09,1.337705e+09,1.344130e+09,1.350695e+09,1.357380e+09,1.364270e+09,1.371220e+09,1.378665e+09

In [220]:
data_r_pop['2000'] = data_r_pop['2000'].fillna(data_r_pop['2000'].median())
data_r_pop['2001'] = data_r_pop['2001'].fillna(data_r_pop['2001'].median())
data_r_pop['2002'] = data_r_pop['2002'].fillna(data_r_pop['2002'].median())
data_r_pop['2003'] = data_r_pop['2003'].fillna(data_r_pop['2003'].median())
data_r_pop['2004'] = data_r_pop['2004'].fillna(data_r_pop['2004'].median())
data_r_pop['2005'] = data_r_pop['2005'].fillna(data_r_pop['2005'].median())
data_r_pop['2006'] = data_r_pop['2006'].fillna(data_r_pop['2006'].median())
data_r_pop['2007'] = data_r_pop['2007'].fillna(data_r_pop['2007'].median())
data_r_pop['2008'] = data_r_pop['2008'].fillna(data_r_pop['2008'].median())
data_r_pop['2009'] = data_r_pop['2009'].fillna(data_r_pop['2009'].median())

data_r_pop['2010'] = data_r_pop['2010'].fillna(data_r_pop['2010'].median())
data_r_pop['2011'] = data_r_pop['2011'].fillna(data_r_pop['2011'].median())
data_r_pop['2012'] = data_r_pop['2012'].fillna(data_r_pop['2012'].median())
data_r_pop['2013'] = data_r_pop['2013'].fillna(data_r_pop['2013'].median())
data_r_pop['2014'] = data_r_pop['2014'].fillna(data_r_pop['2014'].median())
data_r_pop['2015'] = data_r_pop['2015'].fillna(data_r_pop['2015'].median())
data_r_pop['2016'] = data_r_pop['2016'].fillna(data_r_pop['2016'].median())

In [221]:
data_r_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780 entries, 97613 to 867473
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          780 non-null    object
 1   Country Name    780 non-null    object
 2   Country Code    780 non-null    object
 3   Income_group    780 non-null    object
 4   Indicator Name  780 non-null    object
 5   Indicator Code  780 non-null    object
 6   2000            780 non-null    float64
 7   2001            780 non-null    float64
 8   2002            780 non-null    float64
 9   2003            780 non-null    float64
 10  2004            780 non-null    float64
 11  2005            780 non-null    float64
 12  2006            780 non-null    float64
 13  2007            780 non-null    float64
 14  2008            780 non-null    float64
 15  2009            780 non-null    float64
 16  2010            780 non-null    float64
 17  2011            780 non-null    float64
 18  2012            780 non-null    float64
 19  2013            780 non-null    float64
 20  2014            780 non-null    float64
 21  2015            780 non-null    float64
 22  2016            780 non-null    float64
dtypes: float64(17), object(6)
memory usage: 146.2+ KB

### To summarize population Data

In [224]:
pivot_Population = pd.pivot_table(data_r_pop, values=['2005','2008','2015'], index=['Country Name','Region'],
                    aggfunc={'2005': np.mean, '2008': np.mean, '2015': np.mean
                            })
pivot_Population

,,2005,2008,2015
Country Name,Region,,,
Albania,Europe & Central Asia,1.103757e+06,1.087961e+06,1.033171e+06
Algeria,Middle East & North Africa,1.224312e+07,1.284067e+07,1.363188e+07
American Samoa,East Asia & Pacific,6.261747e+05,6.523462e+05,6.768595e+05
Andorra,Europe & Central Asia,5.076125e+05,6.568181e+05,6.806057e+05
Angola,Sub-Saharan Africa,6.443378e+06,7.026339e+06,8.971876e+06
...,...,...,...,...
United Kingdom,Europe & Central Asia,2.009748e+07,2.057453e+07,2.059137e+07
United States,North America,9.918322e+07,1.020353e+08,1.063351e+08
Uruguay,Latin America & Caribbean,1.104598e+06,1.118056e+06,1.145440e+06
"Venezuela, RB",Latin America & Caribbean,9.236681e+06,9.699566e+06,1.062406e+07
Virgin Islands (U.S.),Latin America & Caribbean,5.230862e+05,5.439897e+05,5.620802e+05

In [225]:
pivot_Population.sort_values(by=['2005','2008','2015'], inplace=True,ascending=False)
pivot_Population.head(5)

,,2005,2008,2015
Country Name,Region,,,
China,East Asia & Pacific,4.675612e+08,4.754402e+08,4.670144e+08
United States,North America,9.918322e+07,1.020353e+08,1.063351e+08
Brazil,Latin America & Caribbean,6.663099e+07,6.825739e+07,7.221915e+07
Russian Federation,Europe & Central Asia,5.040329e+07,4.945691e+07,4.647380e+07
Japan,East Asia & Pacific,4.096499e+07,4.043657e+07,3.804635e+07

In [229]:
pivot_Population.sort_values(by=['2008','2005','2015'], inplace=True,ascending=False)
pivot_Population.head(5)

,,2005,2008,2015
Country Name,Region,,,
China,East Asia & Pacific,4.675612e+08,4.754402e+08,4.670144e+08
United States,North America,9.918322e+07,1.020353e+08,1.063351e+08
Brazil,Latin America & Caribbean,6.663099e+07,6.825739e+07,7.221915e+07
Russian Federation,Europe & Central Asia,5.040329e+07,4.945691e+07,4.647380e+07
Japan,East Asia & Pacific,4.096499e+07,4.043657e+07,3.804635e+07

In [227]:
pivot_Population.sort_values(by=['2015','2008','2015'], inplace=True,ascending=False)
pivot_Population.head(10)

,,2005,2008,2015
Country Name,Region,,,
China,East Asia & Pacific,4.675612e+08,4.754402e+08,4.670144e+08
United States,North America,9.918322e+07,1.020353e+08,1.063351e+08
Brazil,Latin America & Caribbean,6.663099e+07,6.825739e+07,7.221915e+07
Russian Federation,Europe & Central Asia,5.040329e+07,4.945691e+07,4.647380e+07
Mexico,Latin America & Caribbean,3.754317e+07,3.939387e+07,4.373887e+07
Japan,East Asia & Pacific,4.096499e+07,4.043657e+07,3.804635e+07
"Iran, Islamic Rep.",Middle East & North Africa,2.752408e+07,2.797550e+07,2.781939e+07
Turkey,Europe & Central Asia,2.388515e+07,2.464193e+07,2.780127e+07
Germany,Europe & Central Asia,2.715762e+07,2.689046e+07,2.630504e+07
Thailand,East Asia & Pacific,2.280092e+07,2.303548e+07,2.322173e+07

The countries with highest population:
    
__'China', 'United States', 'Brazil', 'Russian Federation','Mexico', 'Japan'__

In [230]:
data_r_pop= data_r_pop.rename({"Country Name": "Country_Name"},axis=1)
data_r_pop.head()

,Region,Country_Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
97613,Europe & Central Asia,Albania,ALB,Upper middle income,Population of the official age for secondary e...,SP.SEC.TOTL.IN,511756.0,518394.0,523548.0,527993.0,...,504970.0,486023.0,415162.0,402516.0,390935.0,376605.0,361431.0,345644.0,329011.0,311514.0
97616,Europe & Central Asia,Albania,ALB,Upper middle income,Population of the official age for tertiary ed...,SP.TER.TOTL.IN,257150.0,255769.0,256577.0,259438.0,...,283369.0,282457.0,278853.0,274639.0,271544.0,274631.0,276635.0,277193.0,276247.0,1170125.0
97622,Europe & Central Asia,Albania,ALB,Upper middle income,Population of the official age for upper secon...,SP.SEC.UTOT.IN,240167.0,244720.0,250319.0,256767.0,...,258075.0,249797.0,182284.0,178188.0,174347.0,170216.0,166043.0,161760.0,156541.0,149745.0
97772,Europe & Central Asia,Albania,ALB,Upper middle income,"Population, ages 15-24, total",SP.POP.1524.TO.UN,538251.0,545188.0,554507.0,565217.0,...,602317.0,607609.0,609841.0,608456.0,603104.0,594101.0,582411.0,569427.0,556269.0,1170125.0
97776,Europe & Central Asia,Albania,ALB,Upper middle income,"Population, ages 15-64, total",SP.POP.1564.TO,1935652.0,1929881.0,1937815.0,1945449.0,...,1958838.0,1954566.0,1950306.0,1947666.0,1961611.0,1975480.0,1987352.0,1996460.0,2000257.0,1997271.0

__Create new DF with selected countries__

In [231]:
contries_to_keep = ['China', 'United States', 'Brazil', 'Russian Federation','Mexico', 'Japan']

New_data_Population = data_r_pop[data_r_pop.Country_Name.isin(contries_to_keep)]

New_data_Population.head()

,Region,Country_Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
189238,Latin America & Caribbean,Brazil,BRA,Upper middle income,Population of the official age for secondary e...,SP.SEC.TOTL.IN,738819.5,24322150.0,24355108.0,24141444.0,...,24612662.0,24447520.0,24431620.0,748690.0,24562860.0,24202938.0,24425104.0,23761384.0,23584100.0,1170125.0
189241,Latin America & Caribbean,Brazil,BRA,Upper middle income,Population of the official age for tertiary ed...,SP.TER.TOTL.IN,738819.5,17217676.0,17308476.0,17204732.0,...,17127132.0,16754170.0,16510265.0,748690.0,15944204.0,16006990.0,16236096.0,16380221.0,16372865.0,1170125.0
189247,Latin America & Caribbean,Brazil,BRA,Upper middle income,Population of the official age for upper secon...,SP.SEC.UTOT.IN,738819.5,10463419.0,10578985.0,10762828.0,...,10264931.0,10288554.0,10302361.0,748690.0,10528848.0,10379362.0,10671976.0,10632570.0,10596253.0,1170125.0
189397,Latin America & Caribbean,Brazil,BRA,Upper middle income,"Population, ages 15-24, total",SP.POP.1524.TO.UN,34632864.0,35019805.0,35287264.0,35430181.0,...,34787085.0,34397361.0,34028600.0,33736994.0,33540594.0,33432501.0,33412052.0,33469835.0,33595574.0,1170125.0
189401,Latin America & Caribbean,Brazil,BRA,Upper middle income,"Population, ages 15-64, total",SP.POP.1564.TO,113611797.0,115838942.0,118076415.0,120293448.0,...,128718032.0,130677686.0,132613519.0,134537486.0,136396096.0,138204657.0,139955289.0,141628142.0,143204007.0,144560447.0

In [233]:
New_data_Population.shape

(36, 23)

### Education missing values

In [241]:

features_with_na=[features for features in data_r_edu.columns if data_r_edu[features].isnull().sum()>1]


for feature in features_with_na:
    print(feature, np.round(data_r_edu[feature].isnull().mean(),2),  ' % missing values')

2000 0.46  % missing values
2001 0.68  % missing values
2002 0.66  % missing values
2003 0.67  % missing values
2004 0.65  % missing values
2005 0.42  % missing values
2006 0.64  % missing values
2007 0.63  % missing values
2008 0.62  % missing values
2009 0.62  % missing values
2010 0.38  % missing values
2011 0.61  % missing values
2012 0.63  % missing values
2013 0.64  % missing values
2014 0.65  % missing values
2015 0.78  % missing values
2016 0.99  % missing values
2017 1.0  % missing values
2020 1.0  % missing values

In [242]:
data_r_edu = data_r_edu.drop(['2001', '2002', '2003', '2004', '2006', '2007', '2008', '2009',
        '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2020'], axis=1)

In [243]:
data_r_edu.describe()

               2000          2005          2010
count  4.220000e+02  4.510000e+02  4.830000e+02
mean   6.978949e+05  6.421972e+05  8.116945e+05
std    4.325153e+06  2.461673e+06  5.163028e+06
min    1.600000e-01  2.600000e-01  2.500000e-01
25%    1.244572e+01  1.375738e+01  1.526301e+01
50%    3.001000e+01  3.190000e+01  3.465255e+01
75%    1.697218e+05  1.771630e+05  1.387350e+05
max    8.148796e+07  2.486311e+07  9.921808e+07

In [244]:
data_r_edu['2000'] =data_r_edu['2000'].fillna(data_r_edu['2000'].median())
data_r_edu['2005'] =data_r_edu['2005'].fillna(data_r_edu['2005'].median())
data_r_edu['2010'] =data_r_edu['2010'].fillna(data_r_edu['2010'].median())

### To summarize education Data

In [246]:
pivot_Education = pd.pivot_table(data_r_edu, values=['2000','2005','2010'], index=['Country Name','Region'],
                    aggfunc={'2000': np.mean, '2005': np.mean, '2010': np.mean
                            })
pivot_Education

,,2000,2005,2010
Country Name,Region,,,
Albania,Europe & Central Asia,6.764321e+04,7.845642e+04,7.971836e+04
Algeria,Middle East & North Africa,4.990611e+05,7.410724e+05,9.600983e+05
American Samoa,East Asia & Pacific,3.001000e+01,3.190000e+01,3.465255e+01
Andorra,Europe & Central Asia,3.001000e+01,6.983914e+02,7.053771e+02
Angola,Sub-Saharan Africa,5.918488e+04,8.053265e+03,1.417469e+05
...,...,...,...,...
United Kingdom,Europe & Central Asia,1.223155e+06,1.341420e+06,1.336259e+06
United States,North America,5.966093e+06,6.950683e+06,7.436770e+06
Uruguay,Latin America & Caribbean,6.585270e+04,7.230532e+04,7.510103e+04
"Venezuela, RB",Latin America & Caribbean,3.686016e+05,3.380843e+05,3.758456e+05
Virgin Islands (U.S.),Latin America & Caribbean,3.001000e+01,3.190000e+01,3.465255e+01

In [247]:
pivot_Education.sort_values(by=['2000','2005','2010'], inplace=True,ascending=False)
pivot_Education.head(5)

,,2000,2005,2010
Country Name,Region,,,
China,East Asia & Pacific,1.480869e+07,3.433558e+06,2.171081e+07
United States,North America,5.966093e+06,6.950683e+06,7.436770e+06
Japan,East Asia & Pacific,2.127379e+06,1.958140e+06,1.855459e+06
"Iran, Islamic Rep.",Middle East & North Africa,1.893289e+06,1.865463e+06,1.856338e+06
Mexico,Latin America & Caribbean,1.842820e+06,2.158221e+06,2.421495e+06

In [248]:
pivot_Education.sort_values(by=['2005','2000','2010'], inplace=True,ascending=False)
pivot_Education.head(5)

,,2000,2005,2010
Country Name,Region,,,
United States,North America,5.966093e+06,6.950683e+06,7.436770e+06
Brazil,Latin America & Caribbean,4.635700e+05,4.905913e+06,5.015249e+06
Russian Federation,Europe & Central Asia,1.055240e+06,3.572743e+06,2.907103e+01
China,East Asia & Pacific,1.480869e+07,3.433558e+06,2.171081e+07
Mexico,Latin America & Caribbean,1.842820e+06,2.158221e+06,2.421495e+06

In [251]:
pivot_Education.sort_values(by=['2010','2005','2000'], inplace=True,ascending=False)
pivot_Education.head(10)

,,2000,2005,2010
Country Name,Region,,,
China,East Asia & Pacific,1.480869e+07,3.433558e+06,2.171081e+07
United States,North America,5.966093e+06,6.950683e+06,7.436770e+06
Brazil,Latin America & Caribbean,4.635700e+05,4.905913e+06,5.015249e+06
Mexico,Latin America & Caribbean,1.842820e+06,2.158221e+06,2.421495e+06
"Iran, Islamic Rep.",Middle East & North Africa,1.893289e+06,1.865463e+06,1.856338e+06
Japan,East Asia & Pacific,2.127379e+06,1.958140e+06,1.855459e+06
Turkey,Europe & Central Asia,9.430700e+05,1.408579e+06,1.843342e+06
France,Europe & Central Asia,1.324029e+06,1.370611e+06,1.353049e+06
United Kingdom,Europe & Central Asia,1.223155e+06,1.341420e+06,1.336259e+06
Germany,Europe & Central Asia,1.384569e+06,1.377970e+06,1.277320e+06

The countries with highest population:

__'China', 'United States', 'Brazil', 'Russian Federation','Mexico', 'Japan','Iran, Islamic Rep'__

In [250]:
data_r_edu= data_r_pop.rename({"Country Name": "Country_Name"},axis=1)
data_r_edu.head()

,Region,Country_Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
97613,Europe & Central Asia,Albania,ALB,Upper middle income,Population of the official age for secondary e...,SP.SEC.TOTL.IN,511756.0,518394.0,523548.0,527993.0,...,504970.0,486023.0,415162.0,402516.0,390935.0,376605.0,361431.0,345644.0,329011.0,311514.0
97616,Europe & Central Asia,Albania,ALB,Upper middle income,Population of the official age for tertiary ed...,SP.TER.TOTL.IN,257150.0,255769.0,256577.0,259438.0,...,283369.0,282457.0,278853.0,274639.0,271544.0,274631.0,276635.0,277193.0,276247.0,1170125.0
97622,Europe & Central Asia,Albania,ALB,Upper middle income,Population of the official age for upper secon...,SP.SEC.UTOT.IN,240167.0,244720.0,250319.0,256767.0,...,258075.0,249797.0,182284.0,178188.0,174347.0,170216.0,166043.0,161760.0,156541.0,149745.0
97772,Europe & Central Asia,Albania,ALB,Upper middle income,"Population, ages 15-24, total",SP.POP.1524.TO.UN,538251.0,545188.0,554507.0,565217.0,...,602317.0,607609.0,609841.0,608456.0,603104.0,594101.0,582411.0,569427.0,556269.0,1170125.0
97776,Europe & Central Asia,Albania,ALB,Upper middle income,"Population, ages 15-64, total",SP.POP.1564.TO,1935652.0,1929881.0,1937815.0,1945449.0,...,1958838.0,1954566.0,1950306.0,1947666.0,1961611.0,1975480.0,1987352.0,1996460.0,2000257.0,1997271.0

__Create new DF with selected countries__

In [253]:
contries_to_keep = ['China', 'United States', 'Brazil', 'Russian Federation','Mexico', 'Japan','Iran, Islamic Rep']

New_data_Education = data_r_edu[data_r_edu.Country_Name.isin(contries_to_keep)]

New_data_Education.head()

,Region,Country_Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
189238,Latin America & Caribbean,Brazil,BRA,Upper middle income,Population of the official age for secondary e...,SP.SEC.TOTL.IN,738819.5,24322150.0,24355108.0,24141444.0,...,24612662.0,24447520.0,24431620.0,748690.0,24562860.0,24202938.0,24425104.0,23761384.0,23584100.0,1170125.0
189241,Latin America & Caribbean,Brazil,BRA,Upper middle income,Population of the official age for tertiary ed...,SP.TER.TOTL.IN,738819.5,17217676.0,17308476.0,17204732.0,...,17127132.0,16754170.0,16510265.0,748690.0,15944204.0,16006990.0,16236096.0,16380221.0,16372865.0,1170125.0
189247,Latin America & Caribbean,Brazil,BRA,Upper middle income,Population of the official age for upper secon...,SP.SEC.UTOT.IN,738819.5,10463419.0,10578985.0,10762828.0,...,10264931.0,10288554.0,10302361.0,748690.0,10528848.0,10379362.0,10671976.0,10632570.0,10596253.0,1170125.0
189397,Latin America & Caribbean,Brazil,BRA,Upper middle income,"Population, ages 15-24, total",SP.POP.1524.TO.UN,34632864.0,35019805.0,35287264.0,35430181.0,...,34787085.0,34397361.0,34028600.0,33736994.0,33540594.0,33432501.0,33412052.0,33469835.0,33595574.0,1170125.0
189401,Latin America & Caribbean,Brazil,BRA,Upper middle income,"Population, ages 15-64, total",SP.POP.1564.TO,113611797.0,115838942.0,118076415.0,120293448.0,...,128718032.0,130677686.0,132613519.0,134537486.0,136396096.0,138204657.0,139955289.0,141628142.0,143204007.0,144560447.0

In [254]:
New_data_Education.shape

(36, 23)

### Expendation missing values

In [141]:
#  features with the missing values
features_with_na=[features for features in data_r_exp.columns if data_r_exp[features].isnull().sum()>1]

## print the feature name and the percentage of missing values
for feature in features_with_na:
    print(feature, np.round(data_r_exp[feature].isnull().mean(),2),  ' % missing values')

2000 0.44  % missing values
2001 0.43  % missing values
2002 0.37  % missing values
2003 0.42  % missing values
2004 0.4  % missing values
2005 0.43  % missing values
2006 0.43  % missing values
2007 0.42  % missing values
2008 0.42  % missing values
2009 0.41  % missing values
2010 0.41  % missing values
2011 0.42  % missing values
2012 0.47  % missing values
2013 0.47  % missing values
2014 0.57  % missing values
2015 0.72  % missing values
2016 0.8  % missing values
2017 1.0  % missing values
2020 1.0  % missing values

Keeping  years from 2000 to 2013

In [237]:
data_r_exp = data_r_exp.drop(['2017','2020','2016','2015','2014'], axis=1)

In [238]:
data_r_exp.describe()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,290.000000,298.000000,327.000000,299.000000,311.000000,295.000000,298.000000,302.000000,300.000000,308.000000,309.000000,304.000000,274.000000,275.000000
mean,6789.095391,6861.404555,6454.485923,7347.694373,7578.646463,8416.414774,9021.757600,9457.351072,9877.374674,9309.311735,9600.586798,10449.643297,11511.887214,11849.021677
std,13109.524308,13317.135939,13189.468408,14135.618683,14932.045358,15800.214630,16959.476497,17696.756206,18138.671947,17165.673109,17837.399757,19093.934484,20040.924270,20663.072977
min,0.106800,0.688060,0.939290,0.812180,0.702780,1.600250,2.053810,1.921190,0.564380,1.328770,0.830340,1.175900,1.700550,0.133270
25%,5.878085,6.419922,5.992650,6.459450,5.682735,5.822990,5.936495,5.685635,5.658472,6.008515,6.254810,5.989487,6.624617,6.227500
50%,14.260890,14.264550,12.682530,14.215870,12.847390,13.376390,13.190845,13.041040,13.609015,13.046750,12.934240,12.976565,15.295890,15.262420
75%,8212.247311,8288.524738,7889.794566,9057.651458,9483.585191,10712.380194,11386.627652,12497.053131,13803.983492,13082.413166,13661.369528,15148.837161,16687.203835,17029.332841
max,85860.611440,87599.296411,91083.791524,90348.993723,100426.546129,97767.190344,108831.252401,111959.861509,115012.450334,113312.852224,122609.410776,129349.916352,127610.208824,140037.115597

In [239]:
data_r_exp.columns

Index(['Region', 'Country Name', 'Country Code', 'Income_group',
       'Indicator Name', 'Indicator Code', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013'],
      dtype='object')

Filling missing values by their median

In [240]:
data_r_exp['2000']= data_r_exp['2000'].fillna(data_r_exp['2000'].median())
data_r_exp['2001']= data_r_exp['2001'].fillna(data_r_exp['2001'].median())
data_r_exp['2002']= data_r_exp['2002'].fillna(data_r_exp['2002'].median())
data_r_exp['2003']= data_r_exp['2003'].fillna(data_r_exp['2003'].median())
data_r_exp['2004']= data_r_exp['2004'].fillna(data_r_exp['2004'].median())
data_r_exp['2005']= data_r_exp['2005'].fillna(data_r_exp['2005'].median())
data_r_exp['2006']= data_r_exp['2006'].fillna(data_r_exp['2006'].median())
data_r_exp['2007']= data_r_exp['2007'].fillna(data_r_exp['2007'].median())
data_r_exp['2008']= data_r_exp['2008'].fillna(data_r_exp['2008'].median())
data_r_exp['2009']= data_r_exp['2009'].fillna(data_r_exp['2009'].median())
data_r_exp['2010']= data_r_exp['2010'].fillna(data_r_exp['2010'].median())
data_r_exp['2011']= data_r_exp['2011'].fillna(data_r_exp['2011'].median())
data_r_exp['2012']= data_r_exp['2012'].fillna(data_r_exp['2012'].median())
data_r_exp['2013']= data_r_exp['2013'].fillna(data_r_exp['2013'].median())

In [147]:
data_r_exp.isnull().sum().sort_values(ascending=False).head()

2013            0
2012            0
Country Name    0
Country Code    0
Income_group    0
dtype: int64

### To summarize Expendation Data

In [255]:
pivot_Expendation = pd.pivot_table(data_r_exp, values=['2005','2010','2013'], index=['Country Name','Region'],
                    aggfunc={'2005': np.mean, '2010': np.mean, '2013': np.mean
                            })
pivot_Expendation

,,2005,2010,2013
Country Name,Region,,,
Albania,Europe & Central Asia,1492.710588,2421.354612,2651.190424
Algeria,Middle East & North Africa,2752.994010,3162.262694,3440.382709
American Samoa,East Asia & Pacific,13.376390,12.934240,15.262420
Andorra,Europe & Central Asia,10.432355,7.654370,8.392440
Angola,Sub-Saharan Africa,885.137132,1450.239813,1611.615159
...,...,...,...,...
United Kingdom,Europe & Central Asia,8115.764535,8984.992780,9832.343152
United States,North America,11084.850486,12100.612256,13205.126465
Uruguay,Latin America & Caribbean,2892.604418,4193.913438,4997.072827
"Venezuela, RB",Latin America & Caribbean,3337.456702,4062.273169,4581.745057
Virgin Islands (U.S.),Latin America & Caribbean,13.376390,12.934240,15.262420

In [256]:
pivot_Expendation.sort_values(by=['2005','2010','2013'], inplace=True,ascending=False)
pivot_Expendation.head(5)

,,2005,2010,2013
Country Name,Region,,,
Qatar,Middle East & North Africa,24449.566666,30660.175442,31736.379805
Kuwait,Middle East & North Africa,20812.725545,18430.417775,19178.373398
United Arab Emirates,Middle East & North Africa,20561.518610,14113.469193,16189.729616
San Marino,Europe & Central Asia,18619.245027,18098.557132,14952.473388
Brunei Darussalam,East Asia & Pacific,18478.354853,19735.915716,20468.265180

In [258]:
pivot_Expendation.sort_values(by=['2010','2005','2013'], inplace=True,ascending=False)
pivot_Expendation.head(5)

,,2005,2010,2013
Country Name,Region,,,
Qatar,Middle East & North Africa,24449.566666,30660.175442,31736.379805
"Macao SAR, China",East Asia & Pacific,14297.196535,24064.456618,35020.572671
Luxembourg,Europe & Central Asia,17065.048413,21454.471281,23909.081489
Brunei Darussalam,East Asia & Pacific,18478.354853,19735.915716,20468.265180
Kuwait,Middle East & North Africa,20812.725545,18430.417775,19178.373398

In [259]:
pivot_Expendation.sort_values(by=['2013','2010','2005'], inplace=True,ascending=False)
pivot_Expendation.head(10)

,,2005,2010,2013
Country Name,Region,,,
"Macao SAR, China",East Asia & Pacific,14297.196535,24064.456618,35020.572671
Qatar,Middle East & North Africa,24449.566666,30660.175442,31736.379805
Luxembourg,Europe & Central Asia,17065.048413,21454.471281,23909.081489
Brunei Darussalam,East Asia & Pacific,18478.354853,19735.915716,20468.265180
Singapore,East Asia & Pacific,13802.334171,17669.074624,20329.729396
Kuwait,Middle East & North Africa,20812.725545,18430.417775,19178.373398
Norway,Europe & Central Asia,11951.675859,14527.739317,16773.944717
United Arab Emirates,Middle East & North Africa,20561.518610,14113.469193,16189.729616
Switzerland,Europe & Central Asia,10150.630744,13299.807695,15036.060542
San Marino,Europe & Central Asia,18619.245027,18098.557132,14952.473388

The countries with highest population:

__'Macao SAR, China', 'Qatar', 'Brunei Darussalam', 'United Arab Emirates','Luxembourg', 'Kuwait'__

In [260]:
data_r_exp= data_r_exp.rename({"Country Name": "Country_Name"},axis=1)
data_r_exp.head()

,Region,Country_Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
95803,Europe & Central Asia,Albania,ALB,Upper middle income,Capital expenditure as % of total expenditure ...,UIS.XSPENDP.FDPUB.FNCAP,14.260890,14.264550,12.682530,14.215870,12.847390,13.376390,13.190845,13.041040,13.609015,13.046750,12.934240,12.976565,15.295890,8.586840
96514,Europe & Central Asia,Albania,ALB,Upper middle income,Expenditure on education as % of total governm...,SE.XPD.TOTL.GB.ZS,10.137030,10.581930,9.886920,10.573600,10.703160,11.357970,10.932950,11.177190,13.609015,13.046750,12.934240,12.976565,15.295890,12.123910
96537,Europe & Central Asia,Albania,ALB,Upper middle income,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,4026.537422,4463.632986,4754.675856,5114.784779,5524.921661,5942.870083,6634.779222,7289.632366,8228.357428,8823.802984,9646.615727,10207.700674,10526.248328,10580.511504
96550,Europe & Central Asia,Albania,ALB,Upper middle income,Government expenditure on education as % of GD...,SE.XPD.TOTL.GD.ZS,3.287190,3.342710,3.055220,3.064700,3.170170,3.237910,3.157940,3.267560,13.609015,13.046750,12.934240,12.976565,15.295890,3.539440
99468,Middle East & North Africa,Algeria,DZA,Upper middle income,Capital expenditure as % of total expenditure ...,UIS.XSPENDP.FDPUB.FNCAP,14.260890,14.264550,12.682530,14.215870,12.847390,13.376390,13.190845,13.041040,13.609015,13.046750,12.934240,12.976565,15.295890,15.262420

__Create new DF with selected countries__

In [261]:
contries_to_keep = ['Macao SAR, China', 'Qatar', 'Brunei Darussalam', 'United Arab Emirates','Luxembourg', 'Kuwait']

New_data_Expendation = data_r_exp[data_r_exp.Country_Name.isin(contries_to_keep)]

New_data_Expendation.head()

,Region,Country_Name,Country Code,Income_group,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
191093,East Asia & Pacific,Brunei Darussalam,BRN,High income: nonOECD,Capital expenditure as % of total expenditure ...,UIS.XSPENDP.FDPUB.FNCAP,14.260890,14.264550,12.682530,14.215870,12.847390,13.37639,13.190845,13.041040,13.609015,13.046750,12.934240,12.976565,15.295890,15.262420
191804,East Asia & Pacific,Brunei Darussalam,BRN,High income: nonOECD,Expenditure on education as % of total governm...,SE.XPD.TOTL.GB.ZS,8.920740,14.264550,12.682530,14.215870,12.847390,13.37639,13.190845,13.041040,13.609015,13.046750,5.291540,9.182190,9.727820,15.262420
191827,East Asia & Pacific,Brunei Darussalam,BRN,High income: nonOECD,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,65034.834659,66960.520817,69246.748177,71337.235205,72411.575283,73873.29024,78398.189657,79616.870305,78682.980825,76964.317772,78923.390474,82434.883091,83504.302518,81827.273461
191840,East Asia & Pacific,Brunei Darussalam,BRN,High income: nonOECD,Government expenditure on education as % of GD...,SE.XPD.TOTL.GD.ZS,3.705910,14.264550,12.682530,14.215870,12.847390,13.37639,13.190845,13.041040,13.609015,13.046750,2.046610,3.322100,2.889590,15.262420
473298,Middle East & North Africa,Kuwait,KWT,High income: nonOECD,Capital expenditure as % of total expenditure ...,UIS.XSPENDP.FDPUB.FNCAP,14.260890,14.264550,6.438940,14.215870,12.847390,7.73494,13.190845,13.041040,13.609015,13.046750,12.934240,12.976565,15.295890,15.262420

In [263]:
New_data_Expendation.shape

(24, 20)