#         The World Bank EdStats Data Analysis

The World Bank EdStats All Indicator Query holds over 4,000 internationally comparable indicators that describe education access, progression, completion, literacy, teachers, population, and expenditures. The indicators cover the education cycle from pre-primary to vocational and tertiary education.The query also holds learning outcome data from international and regional learning assessments (e.g. PISA, TIMSS, PIRLS), equity data from household surveys, and projection/attainment data to 2050.

With 189 member countries, staff from more than 170 countries, and offices in over 130 locations, the World Bank Group is a unique global partnership: five institutions working for sustainable solutions that reduce poverty and build shared prosperity in developing countries.

The World Bank Group works in every major area of development. They provide a wide array of financial products and technical assistance, and they help countries share and apply innovative knowledge and solutions to the challenges they face.

__Topics:__ Education, Gender

__Granularity:__ National

__Geographical Coverage:__ World East Asia & Pacific American Samoa Australia Brunei Darussalam Cambodia China Fiji French Polynesia Guam Hong Kong SAR, China Indonesia Japan Kiribati Korea, Dem. People's Rep. Korea, Rep. Lao PDR Macao SAR, China Malaysia Marshall Islands Mongolia Myanmar Nauru New Caledonia New Zealand Northern Mariana Islands Palau Papua New Guinea Philippines Samoa Singapore Solomon Islands Thailand Timor-Leste Tonga Tuvalu Vanuatu Vietnam Europe & Central Asia Albania Andorra Armenia Austria Azerbaijan Belarus Belgium Bosnia and Herzegovina Bulgaria Croatia Cyprus Czech Republic Denmark Estonia Faroe Islands Finland France Georgia Germany Gibraltar Greece Greenland Hungary Iceland Ireland Isle of Man Italy Kazakhstan Kyrgyz Republic Latvia Liechtenstein Lithuania Luxembourg Moldova Monaco Montenegro Netherlands North Macedonia Norway Poland Portugal Romania Russian Federation San Marino Serbia Slovak Republic Slovenia Spain Sweden Switzerland Tajikistan Turkey Turkmenistan Ukraine United Kingdom Uzbekistan Latin America & Caribbean Antigua and Barbuda Aruba Argentina Bahamas, The Barbados Belize Bolivia Brazil Cayman Islands Chile Costa Rica Colombia Cuba Curaçao Dominica Dominican Republic Ecuador El Salvador Grenada Guatemala Guyana Haiti Honduras Jamaica Mexico Nicaragua Panama Paraguay Peru Puerto Rico Sint Maarten (Dutch part) St. Kitts and Nevis St. Martin (French part) St. Lucia St. Vincent and the Grenadines Suriname Trinidad and Tobago Turks and Caicos Islands Uruguay Venezuela, RB Virgin Islands (U.S.) Middle East & North Africa Algeria Bahrain Egypt, Arab Rep. Djibouti Iraq Iran, Islamic Rep. Israel Jordan Kuwait Lebanon Libya Malta Morocco Oman Qatar Saudi Arabia Syrian Arab Republic United Arab Emirates Tunisia Yemen, Rep. Bermuda Canada United States South Asia Afghanistan Bangladesh Bhutan India Pakistan Nepal Maldives Sri Lanka Angola Benin Botswana Burkina Faso Burundi Cabo Verde Cameroon Central African Republic Chad Comoros Congo, Dem. Rep. Congo, Rep. Côte d'Ivoire Ethiopia Eritrea Equatorial Guinea Gabon Gambia, The Ghana Guinea Guinea-Bissau Kenya Lesotho Liberia Madagascar Malawi Mali Mauritania Mauritius Mozambique Namibia Niger Nigeria Rwanda São Tomé and Principe Seychelles Senegal Sierra Leone Somalia South Africa South Sudan Sudan Eswatini Tanzania Togo Uganda Zambia Zimbabwe

__Economy Coverage:__ High Income IBRD IDA Low Income

__Number of Economies:__ 214

__Periodicity:__ Annual

__Temporal Coverage:__ 1970 - 2100

_________________________________________________________________________________________________________

## Importing liberaries

In [102]:
import numpy as np  # linear algebra
import pandas as pd  # data processing
import matplotlib.pyplot as plt  # for Visualization
%matplotlib inline

import seaborn as sns

## Reading Data

In [103]:
Data = pd.read_csv('EdStatsData.csv')
Data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It's clear that we have a lot of missing values so cheking for more information.

   ### MISSING values

In [101]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

__To sort the number of null value that we have for each year (decreasing)__

In [122]:
Data.isnull().sum().sort_values(ascending=False).head(66)

Unnamed: 69    886930
2017           886787
2016           870470
1971           851393
1973           851385
                ...
2011           740918
2012           739666
2000           710254
2005           702822
2010           644488
Length: 66, dtype: int64

It seems like an incomplete data set. 2010, the most complete year with 644488 missing values, but there are 3665 indicators and we need to check completeness for those relevant to our problem.

In [105]:
Data.groupby('Indicator Code').count()

,Country Name,Country Code,Indicator Name,1970,1971,1972,1973,1974,1975,1976,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
Indicator Code,,,,,,,,,,,,,,,,,,,,,
BAR.NOED.1519.FE.ZS,242,242,242,144,0,0,0,0,144,0,...,0,0,0,0,0,0,0,0,0,0
BAR.NOED.1519.ZS,242,242,242,144,0,0,0,0,144,0,...,0,0,0,0,0,0,0,0,0,0
BAR.NOED.15UP.FE.ZS,242,242,242,144,0,0,0,0,144,0,...,0,0,0,0,0,0,0,0,0,0
BAR.NOED.15UP.ZS,242,242,242,144,0,0,0,0,144,0,...,0,0,0,0,0,0,0,0,0,0
BAR.NOED.2024.FE.ZS,242,242,242,144,0,0,0,0,144,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UIS.XUNIT.USCONST.3.FSGOV,242,242,242,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
UIS.XUNIT.USCONST.4.FSGOV,242,242,242,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
UIS.XUNIT.USCONST.56.FSGOV,242,242,242,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
XGDP.23.FSGOV.FDINSTADM.FFD,242,242,242,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
XGDP.56.FSGOV.FDINSTADM.FFD,242,242,242,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Checking duplicated data

In [38]:
Data.duplicated().sum()

0

### The number of raws & columns of our Data

In [4]:
Data.shape

(886930, 70)

__Features of our Data__

In [4]:
Data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

## Reading Country Data

In [77]:
Country = pd.read_csv('C:/Users/azade/Desktop/OC/Projet 2/EdStatsCountry.csv')
Country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

### Number of missing values

In [125]:
Country.isnull().sum().sort_values(ascending=False).head(20)

Unnamed: 31                                          241
National accounts reference year                     209
Alternative conversion factor                        194
Other groups                                         183
Latest industrial data                               134
Vital registration complete                          130
External debt Reporting status                       117
Latest household survey                              100
Latest agricultural census                            99
Lending category                                      97
PPP survey year                                       96
Special Notes                                         96
Source of most recent Income and expenditure data     81
Government Accounting concept                         80
Latest water withdrawal data                          62
Balance of Payments Manual in use                     60
IMF data dissemination standard                       60
Latest trade data                                     56
SNA price valuation                                   44
System of trade                                       41
dtype: int64

### Checking duplicated data

In [85]:
Country.duplicated().sum()

0

### The number of raws & columns

In [86]:
Country.shape

(241, 32)

__Features of Country Data__

In [21]:
Country.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')

__Create a DF with contry_code, name, region and income_group__

In [112]:

countries_income = pd.DataFrame({"Country_Code" : Country["Country Code"].unique(), "Name" : Country["Short Name"],
                                 "Region" : Country["Region"], "Income_group" : Country["Income Group"]})

countries_income

,Country_Code,Name,Region,Income_group
0,ABW,Aruba,Latin America & Caribbean,High income: nonOECD
1,AFG,Afghanistan,South Asia,Low income
2,AGO,Angola,Sub-Saharan Africa,Upper middle income
3,ALB,Albania,Europe & Central Asia,Upper middle income
4,AND,Andorra,Europe & Central Asia,High income: nonOECD
...,...,...,...,...
236,XKX,Kosovo,Europe & Central Asia,Lower middle income
237,YEM,Yemen,Middle East & North Africa,Lower middle income
238,ZAF,South Africa,Sub-Saharan Africa,Upper middle income
239,ZMB,Zambia,Sub-Saharan Africa,Lower middle income
240,ZWE,Zimbabwe,Sub-Saharan Africa,Low income

we have 242 countries in our data countries

__check how many countries we have in our Data__

In [115]:
Data["Country Name"].describe()

count           886930
unique             242
top       South Africa
freq              3665
Name: Country Name, dtype: object

__Check how many indicators in data and for doubles__

In [116]:
Data["Indicator Name"].describe()

count                                                886930
unique                                                 3665
top       DHS: Average years of schooling by age group. ...
freq                                                    242
Name: Indicator Name, dtype: object

Create a file with list of countries in data

In [117]:
countries = Data["Country Name"].unique()
countries = pd.DataFrame({"Country Name" : Data["Country Name"].unique()})
countries.to_csv("countries.csv")
print(countries)

                                    Country Name
0                                     Arab World
1                            East Asia & Pacific
2    East Asia & Pacific (excluding high income)
3                                      Euro area
4                          Europe & Central Asia
..                                           ...
237                        Virgin Islands (U.S.)
238                           West Bank and Gaza
239                                  Yemen, Rep.
240                                       Zambia
241                                     Zimbabwe

[242 rows x 1 columns]

__Merging__ our Data with the countries_income that we have created.

In [129]:
data_plus_country = pd.merge(Data,countries_income, left_on='Country Code', right_on='Country_Code')
data_plus_country.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2080,2085,2090,2095,2100,Unnamed: 69,Country_Code,Name,Region,Income_group
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ARB,Arab World,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ARB,Arab World,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ARB,Arab World,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ARB,Arab World,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,ARB,Arab World,NaN,NaN

In [130]:
data_plus_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 883265 entries, 0 to 883264
Data columns (total 74 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    883265 non-null  object
 1   Country Code    883265 non-null  object
 2   Indicator Name  883265 non-null  object
 3   Indicator Code  883265 non-null  object
 4   1970            72278 non-null   float64
 5   1971            35508 non-null   float64
 6   1972            35594 non-null   float64
 7   1973            35514 non-null   float64
 8   1974            35708 non-null   float64
 9   1975            87268 non-null   float64
 10  1976            37445 non-null   float64
 11  1977            37562 non-null   float64
 12  1978            37564 non-null   float64
 13  1979            36771 non-null   float64
 14  1980            89109 non-null   float64
 15  1981            38738 non-null   float64
 16  1982            37504 non-null   float64
 17  1983            38428 non-null   float64
 18  1984            38564 non-null   float64
 19  1985            90265 non-null   float64
 20  1986            39365 non-null   float64
 21  1987            38634 non-null   float64
 22  1988            38545 non-null   float64
 23  1989            37533 non-null   float64
 24  1990            124372 non-null  float64
 25  1991            74395 non-null   float64
 26  1992            75510 non-null   float64
 27  1993            75785 non-null   float64
 28  1994            77426 non-null   float64
 29  1995            131340 non-null  float64
 30  1996            76800 non-null   float64
 31  1997            73446 non-null   float64
 32  1998            84906 non-null   float64
 33  1999            118773 non-null  float64
 34  2000            176625 non-null  float64
 35  2001            123458 non-null  float64
 36  2002            124112 non-null  float64
 37  2003            130286 non-null  float64
 38  2004            128737 non-null  float64
 39  2005            184036 non-null  float64
 40  2006            140243 non-null  float64
 41  2007            137201 non-null  float64
 42  2008            134372 non-null  float64
 43  2009            142004 non-null  float64
 44  2010            242382 non-null  float64
 45  2011            145947 non-null  float64
 46  2012            147216 non-null  float64
 47  2013            137459 non-null  float64
 48  2014            113720 non-null  float64
 49  2015            130966 non-null  float64
 50  2016            16446 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
 70  Country_Code    883265 non-null  object
 71  Name            883265 non-null  object
 72  Region          784310 non-null  object
 73  Income_group    784310 non-null  object
dtypes: float64(66), object(8)
memory usage: 505.4+ MB

In [134]:
data_plus_country.isnull().sum().sort_values(ascending= False).head(20)

Unnamed: 69    883265
2017           883122
2016           866819
1971           847757
1973           847751
1972           847671
1974           847557
1979           846494
1976           845820
1982           845761
1989           845732
1977           845703
1978           845701
1983           844837
1988           844720
1984           844701
1987           844631
1981           844527
1986           843900
2050           831829
dtype: int64

In [131]:
s1= data_plus_country.dtypes
s1

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1970              float64
                   ...
Unnamed: 69       float64
Country_Code       object
Name               object
Region             object
Income_group       object
Length: 74, dtype: object

## Reading Country_Series

In [82]:
Country_Series = pd.read_csv('C:/Users/azade/Desktop/OC/Projet 2/EdStatsCountry-Series.csv')
Country_Series.head()

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

### Number of missing values in Country_Series

In [83]:
Country_Series.isnull().sum().sort_values(ascending=False)

Unnamed: 3     613
DESCRIPTION      0
SeriesCode       0
CountryCode      0
dtype: int64

### Duplicated Country_Series Data

In [84]:
Country_Series.duplicated().sum()

0

### The number of raws & columns

In [71]:
Country_Series.shape

(613, 4)

## Reading FootNote Data

In [87]:
FootNote = pd.read_csv('C:/Users/azade/Desktop/OC/Projet 2/EdStatsFootNote.csv')
FootNote.head()

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

### Number of missing values in FootNote

In [90]:
FootNote.isnull().sum().sort_values(ascending= False)

Unnamed: 4     643638
DESCRIPTION         0
Year                0
SeriesCode          0
CountryCode         0
dtype: int64

### Duplicated data

In [91]:
FootNote.duplicated().sum()

0

### The number of raws & columns

In [70]:
FootNote.shape

(643638, 5)

## Reading Series

In [96]:
Series = pd.read_csv('C:/Users/azade/Desktop/OC/Projet 2/EdStatsSeries.csv')
Series.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Number of missing values in Series Data

In [97]:
Series.isnull().sum().sort_values(ascending=False)

Unnamed: 20                            3665
Related indicators                     3665
Other web links                        3665
Unit of measure                        3665
License Type                           3665
Notes from original source             3665
Development relevance                  3662
General comments                       3651
Limitations and exceptions             3651
Statistical concept and methodology    3642
Aggregation method                     3618
Periodicity                            3566
Related source links                   3450
Base Period                            3351
Other notes                            3113
Short definition                       1509
Source                                    0
Long definition                           0
Indicator Name                            0
Topic                                     0
Series Code                               0
dtype: int64

### Duplicated data

In [98]:
Series.duplicated().sum()

0

### The number of raws & columns

In [99]:
Series.shape

(3665, 21)

In [23]:
Series.columns

Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Unit of measure', 'Periodicity', 'Base Period',
       'Other notes', 'Aggregation method', 'Limitations and exceptions',
       'Notes from original source', 'General comments', 'Source',
       'Statistical concept and methodology', 'Development relevance',
       'Related source links', 'Other web links', 'Related indicators',
       'License Type', 'Unnamed: 20'],
      dtype='object')

In [28]:
Series.shape

(3665, 5)

In [41]:
Series.head(50)

,Series Code,Topic,Indicator Name,Long definition,Source
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Robert J. Barro and Jong-Wha Lee: http://www.b...
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Robert J. Barro and Jong-Wha Lee: http://www.b...
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
5,BAR.NOED.2024.ZS,Attainment,Barro-Lee: Percentage of population age 20-24 ...,Percentage of population age 20-24 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
6,BAR.NOED.2529.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 25-29 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
7,BAR.NOED.2529.ZS,Attainment,Barro-Lee: Percentage of population age 25-29 ...,Percentage of population age 25-29 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
8,BAR.NOED.25UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 25+ with n...,Robert J. Barro and Jong-Wha Lee: http://www.b...
9,BAR.NOED.25UP.ZS,Attainment,Barro-Lee: Percentage of population age 25+ wi...,Percentage of population age 25+ with no educa...,Robert J. Barro and Jong-Wha Lee: http://www.b...
10,BAR.NOED.3034.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 30-34 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
11,BAR.NOED.3034.ZS,Attainment,Barro-Lee: Percentage of population age 30-34 ...,Percentage of population age 30-34 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
12,BAR.NOED.3539.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 35-39 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
13,BAR.NOED.3539.ZS,Attainment,Barro-Lee: Percentage of population age 35-39 ...,Percentage of population age 35-39 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
14,BAR.NOED.4044.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 40-44 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
15,BAR.NOED.4044.ZS,Attainment,Barro-Lee: Percentage of population age 40-44 ...,Percentage of population age 40-44 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
16,BAR.NOED.4549.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 45-49 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
17,BAR.NOED.4549.ZS,Attainment,Barro-Lee: Percentage of population age 45-49 ...,Percentage of population age 45-49 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
18,BAR.NOED.5054.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 50-54 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
19,BAR.NOED.5054.ZS,Attainment,Barro-Lee: Percentage of population age 50-54 ...,Percentage of population age 50-54 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
20,BAR.NOED.5559.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 55-59 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
21,BAR.NOED.5559.ZS,Attainment,Barro-Lee: Percentage of population age 55-59 ...,Percentage of population age 55-59 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
22,BAR.NOED.6064.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 60-64 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
23,BAR.NOED.6064.ZS,Attainment,Barro-Lee: Percentage of population age 60-64 ...,Percentage of population age 60-64 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
24,BAR.NOED.6569.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 65-69 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
25,BAR.NOED.6569.ZS,Attainment,Barro-Lee: Percentage of population age 65-69 ...,Percentage of population age 65-69 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
26,BAR.NOED.7074.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 70-74 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
27,BAR.NOED.7074.ZS,Attainment,Barro-Lee: Percentage of population age 70-74 ...,Percentage of population age 70-74 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
28,BAR.NOED.75UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 75+ with n...,Robert J. Barro and Jong-Wha Lee: http://www.b...
29,BAR.NOED.75UP.ZS,Attainment,Barro-Lee: Percentage of population age 75+ wi...,Percentage of population age 75+ with no educa...,Robert J. Barro and Jong-Wha Lee: http://www.b...
30,BAR.POP.1519,Attainment,"Barro-Lee: Population in thousands, age 15-19,...","Population in thousands, age 15-19, total is t...",Robert J. Barro and Jong-Wha Lee: http://www.b...
31,BAR.POP.1519.FE,Attainment,"Barro-Lee: Population in thousands, age 15-19,...","Population in thousands, age 15-19, female is ...",Robert J. Barro and Jong-Wha Lee: http://www.b...
32,BAR.POP.15UP,Attainment,"Barro-Lee: Population in thousands, age 15+, t...","Population in thousands, age 15+, total is the...",Robert J. Barro and Jong-Wha Lee: http://www.b...
33,BAR.POP.15UP.FE,Attainment,"Barro-Lee: Population in thousands, age 15+, f...","Population in thousands, age 15+, female is th...",Robert J. Barro and Jong-Wha Lee: http://www.b...
34,BAR.POP.2024,Attainment,"Barro-Lee: Population in thousands, age 20-24,...","Population in thousands, age 20-24, total is t...",Robert J. Barro and Jong-Wha Lee: http://www.b...
35,BAR.POP.2024.FE,Attainment,"Barro-Lee: Population in thousands, age 20-24,...","Population in thousands, age 20-24, female is ...",Robert J. Barro and Jong-Wha Lee: http://www.b...
36,BAR.POP.2529,Attainment,"Barro-Lee: Population in thousands, age 25-29,...","Population in thousands, age 25-29, total is t...",Robert J. Barro and Jong-Wha Lee: http://www.b...
37,BAR.POP.2529.FE,Attainment,"Barro-Lee: Population in thousands, age 25-29,...","Population in thousands, age 25-29, female is ...",Robert J. Barro and Jong-Wha Lee: http://www.b...
38,BAR.POP.25UP,Attainment,"Barro-Lee: Population in thousands, age 25+, t...","Population in thousands, age 25+, total is the...",Robert J. Barro and Jong-Wha Lee: http://www.b...
39,BAR.POP.25UP.FE,Attainment,"Barro-Lee: Population in thousands, age 25+, f...","Population in thousands, age 25+, female is th...",Robert J. Barro and Jong-Wha Lee: http://www.b...
40,BAR.POP.3034,Attainment,"Barro-Lee: Population in thousands, age 30-34,...","Population in thousands, age 30-34, total is t...",Robert J. Barro and Jong-Wha Lee: http://www.b...
41,BAR.POP.3034.FE,Attainment,"Barro-Lee: Population in thousands, age 30-34,...","Population in thousands, age 30-34, female is ...",Robert J. Barro and Jong-Wha Lee: http://www.b...
42,BAR.POP.3539,Attainment,"Barro-Lee: Population in thousands, age 35-39,...","Population in thousands, age 35-39, total is t...",Robert J. Barro and Jong-Wha Lee: http://www.b...
43,BAR.POP.3539.FE,Attainment,"Barro-Lee: Population in thousands, age 35-39,...","Population in thousands, age 35-39, female is ...",Robert J. Barro and Jong-Wha Lee: http://www.b...
44,BAR.POP.4044,Attainment,"Barro-Lee: Population in thousands, age 40-44,...","Population in thousands, age 40-44, total is t...",Robert J. Barro and Jong-Wha Lee: http://www.b...
45,BAR.POP.4044.FE,Attainment,"Barro-Lee: Population in thousands, age 40-44,...","Population in thousands, age 40-44, female is ...",Robert J. Barro and Jong-Wha Lee: http://www.b...
46,BAR.POP.4549,Attainment,"Barro-Lee: Population in thousands, age 45-49,...","Population in thousands, age 45-49, total is t...",Robert J. Barro and Jong-Wha Lee: http://www.b...
47,BAR.POP.4549.FE,Attainment,"Barro-Lee: Population in thousands, age 45-49,...","Population in thousands, age 45-49, female is ...",Robert J. Barro and Jong-Wha Lee: http://www.b...
48,BAR.POP.5054,Attainment,"Barro-Lee: Population in thousands, age 50-54,...","Population in thousands, age 50-54, total is t...",Robert J. Barro and Jong-Wha Lee: http://www.b...
49,BAR.POP.5054.FE,Attainment,"Barro-Lee: Population in thousands, age 50-54,...","Population in thousands, age 50-54, female is ...",Robert J. Barro and Jong-Wha Lee: http://www.b...

In [50]:
Series['Indicator Name'].value_counts()

Gross enrolment ratio, upper secondary, male (%)                                                                                      1
Barro-Lee: Percentage of population age 20-24 with primary schooling. Total (Incomplete and Completed Primary)                        1
Percentage of students enrolled in Engineering, Manufacturing and Construction programmes in tertiary education who are female (%)    1
Adult illiterate population, 15+ years, male (number)                                                                                 1
SABER: (Engaging the Private Sector, Government funded) Policy Goal 8 Lever 5: Funding                                                1
                                                                                                                                     ..
Barro-Lee: Percentage of population age 35-39 with no education                                                                       1
PIAAC: Mean Young Adult Numeracy Proficiency. Female                                                                                  1
Barro-Lee: Percentage of population age 30-34 with tertiary schooling. Total (Incomplete and Completed Tertiary)                      1
EGRA: Reading Comprehension - Share of students with a zero score (%). Dagaare. 2nd Grade                                             1
Labor force with advanced education (% of total working-age population with advanced education)                                       1
Name: Indicator Name, Length: 3665, dtype: int64

In [26]:
 Series.drop(['Unnamed: 20','Related indicators','Other web links','Unit of measure','License Type',
              'Notes from original source','Development relevance','General comments','Limitations and exceptions',
                'Statistical concept and methodology','Aggregation method','Periodicity',
                      'Related source links','Base Period','Other notes','Short definition'],axis=1, inplace=True)

### Q1:Which countries have a strong potential of customers for our services?